<div class="row text-center text-white w-100 px-0 mx-0">
  <div
    class="bg-dark text-rotated row mr-0"
    style="font-size: 22px; width: 50px"
  >
    <span class="col-auto" style="height: 30vh">CPU</span>
    <span class="col-auto" style="height: 23vh">Used Memory</span>
  </div>
  <div
    class="col bg-dark m-0 p-0 border-red"
    style="height: 100vh"
    *ngFor="let item of aCoreData"
  >
    <div class="box-name">
      {{ item.name }}
    </div>
    <div
      class="w-100 text-20 border-bottom-red"
      style="height: 30vh"
    >
      {{ item.data?.CPU | number: "1.0-0" }}%
    </div>
    <div
      class="w-100 text-10 border-bottom-red"
      style="height: 23vh"
    >
      {{
        100 - (item.data?.MemFree / item.data?.MemUsed) * 100 | number: "1.2-2"
      }}%
      <div class="text-4">
        {{ item.data?.MemUsed / 1024 | number: "1.2-2" }}GB /
        {{ getTotalMemory(item) / 1024 | number: "1.2-2" }}GB
      </div>
    </div>
    <div
    class="w-100 border-bottom-red"
    style="height: 39.9vh"
  >
  </div>
    <div
      class="w-100 text-10"
      [ngClass]="{'bg-red': !item.socket.lConnectionOpen}"
      style="height: 7vh"
    >
      <div class="text-4" *ngIf="item.socket.lConnectionOpen">Stabil kapcsolat</div>
      <div class="text-4" *ngIf="!item.socket.lConnectionOpen">Nincs kapcsolat</div>
    </div>
  </div>
</div>
