<nav class="navbar">
  <a href="/" class="navbar-brand">
    <img
      src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
      width="30"
      height="30"
      alt=""
    />
    Web Status Monitor
  </a>
  <span class="navbar-text"> Connection state: Stable </span>
</nav>
<div class="container-fluid main--container bg-dark margin--custom">
  <div class="row">
    <div class="col-12 main--minus">
      <div class="row">
        <div class="col-3" *ngFor="let item of cards">
          <div class="card mt-3">
            <div class="card-body">
              <h5 class="card-title text-center">{{ item.title }}</h5>
              ...
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
