nav {
  font-size: 1.25rem;
  color: white !important;
  height: 8vh;
}

.bg-red {
  background-color: red !important;
}

.bg-dark {
  background-color: rgb(41, 41, 41) !important;
}

.bg-yellow {
  background-color: yellow !important;
}

.text-20 {
  font-size: 20vh;
}

.text-10 {
  font-size: 10vh;
}

.text-4 {
  font-size: 4vh;
}

.text-rotated {
  writing-mode: vertical-lr;
}

.border-red {
  border: 1px dotted red;
}

.border-bottom-red {
  border-bottom: 1px dotted red;
}

.box-name {
  position: absolute;
  width: 100%;
}
