nav {
  font-size: 1.25rem;
  color: white !important;
  height: 8vh;
}

.bg-red {
  background-color: red !important;
}

.bg-dark {
  background-color: rgb(41, 41, 41) !important;
}

.bg-yellow {
  background-color: yellow !important;
}

nav .navbar-brand {
  color: white !important;
  padding: 5px;
}

.margin--custom {
  margin-top: 8vh;
}

.main--container {
  position: relative;
  display: block;
  padding-top: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 84vh;

  background-color: black;
}

.main--container .main--minus {
  margin-top: -8vh;
}

.card {
  background-color: rgb(41, 41, 41);
  color: white;
}

.compact.col-3,
.compact.col-6,
.compact.col-12 {
  padding: 0 !important;
  box-shadow: 0 0 0 2px white;
}

.compact .card {
  border-radius: 0;
}

.compact .card .card-body {
  padding: 0 0 5px 0;
}

.table tr {
  line-height: 5px;
}

.table.table-dark {
  background-color: rgb(41, 41, 41);
}

dx-chart {
  margin-left: 3px;
}
